@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #fafaf9;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

::selection {
  background: #22c55e;
  color: #052e16;
}
